.titleCenter {
	text-align: center;
}

.resourceFull {
	color: red;
}

.addRemoveButtons {
	font-size: 1.3em;
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
}

.centerBlock {
	display: table-cell;
	vertical-align: middle;
}



.buildingHeader {
	font-size: 1.1em;
	font-weight: bold;
}